.navbar,
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #624f82;
}
#svg-icon {
  fill: #624f82;
}
.nav-title {
  padding-left: 2rem;
}
body {
  background: url(../images/bg-2.jpg) center/cover no-repeat;
  min-height: 100vh;
  background-size: cover;
  overflow-x: hidden;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.main-title {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  font-size: 3rem;
  text-align: center;
}
.btn {
  margin: 0.5rem;
}
#salary-amount-span span {
  display: none;
}
#progress {
  width: 18rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.table-responsive {
  overflow-x: hidden;
}
.transaction-title,
.transaction-description,
.amount-detail,
th,
.th-thead,
td,
.form-label {
  font-size: 2rem;
  padding: 0.5rem;
}
.form-control {
  text-align: center;
  font-size: 2rem;
}
.btn-primary {
  padding: 1rem;
  margin: 3rem;
  font-size: 2rem;
}
.delete-btn {
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 30%;
}
#edit {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .transaction-title,
  .transaction-description,
  .amount-detail,
  th,
  .th-thead,
  td,
  .btn-dark {
    font-size: 1rem;
    padding: 1rem;
  }
  .form-label {
    font-size: 2.5rem;
  }
  main {
    min-height: 100%;
  }
  #progress {
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .transaction-title,
  .transaction-description,
  .amount-detail,
  th,
  .th-thead,
  td,
  .btn-dark {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .form-label {
    font-size: 2rem;
  }
  .form-control,
  .form-salary {
    max-width: 25rem;
    text-align: center;
  }
  .btn-primary {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
  }
}
